/** {
	margin: 0px;
	padding: 0px;
}*/

body {
	background: #e1e1e1;
	//font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	//font-family: "Helvetica", "Arial", sans-serif;
	font-family: "Times New Roman", "Times", serif;
}

.container {
	background: #ffffff;
	font-size: 1.5em;
	overflow: auto;
	padding: 20px;
}

.header {
	//background: #f7f7f7;
	background: #ffce2f;
	//line-height: 60px;
	height: 60px;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.container, .header {
	width: 90%;
	margin: 0 auto;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header img {
	//height: 55px;
	max-height: 100%;
	//float: left;
}

@media only screen and (min-width: 1140px) {
	.container, .header {
		max-width: 600px;
	}
	
	.container {
		font-size: 1em;
	}
}